.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background: rgba(129, 247, 255, 0.5);
    background-image: url(../../assets/Winter-Peak.jpg);
    background-position: center center;
    background-size: cover;
    padding: 20px;
    text-align: center;
    background-blend-mode: color;
    h2{
        padding: 10px;
        font-size: 26pt;
    }
    p{
        padding: 10px;
        font-size: 20pt;
    }
}