nav{
    background: rgb(129, 247, 255);
    ul{
        padding: 20px;
        li{
        display: inline-block;
            a{
                background: rgb(255, 242, 129);
                margin: 20px 20px 20px 0;
                padding: 10px 20px;
            }
        }
    }
}
