
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&family=Varela+Round&display=swap'); 
@import '/node_modules/bootstrap/scss/bootstrap.scss';

*{
	margin: 0;
	padding: 0;
}

body {
	padding-top: 60px;
	position: relative;
	direction: rtl;
	line-height: 1;
	font-family: 'Varela Round', sans-serif;
	// font-family: 'Istok Web', sans-serif;
}
a{
    text-decoration: none;
}
.container{
	// width: 1000px;
	padding: 0 20px;
}